{%extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="row">
{% for product in products %}
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>{{product.price}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <div class="card-footer">
        {% if product.stocks <= 0 %}
              <p class="text-danger">สินค้าหมด</p>
        {% else %}
              <a href="{% url 'add_cart' product.id %}" class="btn btn-danger">เพิ่มลงตะกร้า</a>
        {% endif%}
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock%}